<nav class="navbar">
<span class = "logo">La Lunetterie Rémoise</span>
	<ul class="nav">
		<li><a class="navbar-a"href="{{ path("home") }}">Optique</a></li>
		<li><a class="navbar-a"href="#">Solaire</a></li>
		<li><a class="navbar-a"href="#">Profil</a></li>
	</ul>
</nav>
